{
  "extends": ["plugin:prettier/recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
    "allowImportExportEverywhere": true
  }, 
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 80,
      "ignoreComments": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}